APP_NAME="Clinc System"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_TIMEZONE=Africa/Cairo

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

DB_HOST=127.0.0.1
DB_DATABASE=clinc
DB_USERNAME=root
DB_PASSWORD=

MAIL_MAILER=mailgun
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"

APP_URL_GOOGLE_PLAY=
APP_URL_APP_STORE=
